<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/image-gallery/jquery.magnify.css">
      <link rel="stylesheet" href="css/image-gallery/magnify-bezelless-theme.css">
    
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
   </head>
   <body>
      <div id="app">
         <template>
            <b-navbar class="nav-bar">
               <template #brand>
                  <b-navbar-item tag="router-link" :to="{ path: '/' }" class=" has-text-white">
                     Pipeline Debugger 2.0
                  </b-navbar-item>
               </template>
               <template #end>
                  <b-navbar-item tag="div">
                     <div class="buttons ">
                        <a class="button is-light is-small" href="Login.html">
                           <b-icon icon="logout" size="is-small" size="is-large">
                           </b-icon>
                        </a>
                     </div>
                  </b-navbar-item>
               </template>
            </b-navbar>
         </template>
         <template>
            <section class="custom-bg pt-5">
               <div class="container  ">
                  <div class="slider-section  has-background-white">
                     <div class="columns ">
                        <div class="column is-12">
                           <b-table class="mt-5"
                              :data="dataimage"
                              ref="table"
                             
                              :opened-detailed="defaultOpenedDetails"
                              detailed
                              detail-key="id"
                              :detail-transition="transitionName"
                              @details-open="(row) => $buefy.toast.open(`Expanded ${row.user.first_name}`)"
                              :show-detail-icon="showDetailIcon"
                              aria-next-label="Next page"
                              aria-previous-label="Previous page"
                              aria-page-label="Page"
                              aria-current-label="Current page">
                              <b-table-column field="id" label="Id" width="40"  v-slot="props">
                                 {{ props.row.id }}
                              </b-table-column>
                              <b-table-column field="'position'" label="Position"  v-slot="props">
                                 {{ formatData(props.row.position) }}
                              </b-table-column>
                              <b-table-column field="image_severity" label="Image Severity"  v-slot="props">
                                 {{formatData( props.row.image_severity) }}
                              </b-table-column>
                              <b-table-column field="hiddenSeverity" label="Hidden severity"  v-slot="props">
                                 {{ formatData(props.row.hiddenSeverity) }}
                              </b-table-column>
                              <b-table-column field="is_car" label=" Is car"  v-slot="props">
                                 {{ formatData(props.row.is_car) }}
                              </b-table-column>
                             
                              <template slot="detail" slot-scope="props">
                                 <article class="media">
                                    <div class="media-content">
                                       <div class="content">
                                           <div class="columns is-multiline">
                                             <div class="column is-3"> 
                                                
                                                <div class="image-set m-t-20">
                                                   <a data-magnify="gallery" data-src="" data-caption="Image" data-group="a" :href="props.row.url">
                                                     <img :src="props.row.url"alt="">
                                                   </a>
                                                   
                                                 </div>
                                                
                                                
                                                <!-- <img :src="props.row.image_url" width="200"> -->
                                             
                                             <p class="mb-0"> <strong>IQI :</strong> {{  props.row.iqi }} </p>
                                          
                                             <p class="mb-0"> <strong>Brightness :</strong> {{  props.row.brightness }} </p>
                                             <p> <strong>Sharpness :</strong> {{  props.row.sharpness }} </p>
                                          
                                          </div>
                                             <div class="column is-9">
                                                <b-table class="mt-5" :data="getDetails(props.row.id)">
                                                   <b-table-column field="part_name" label="Part Name"  v-slot="props">
                                                     {{ formatData(props.row.part_name) }}
                                                   </b-table-column>
                                                   <b-table-column field="damage_score" label="Damage Score"  v-slot="props">
                                                      {{ props.row.damage_score }}
                                                   </b-table-column>
                                                   <b-table-column field="dnd_cnn_decision" label="DND CNN Decision"  v-slot="props">
                                                      {{ formatData(props.row.dnd_cnn_decision) }}
                                                   </b-table-column>
                                                   <b-table-column field="rr_cnn_decison" label="RR CNN Decision"  v-slot="props">
                                                      {{ formatData(props.row.rr_cnn_decison) }}
                                                   </b-table-column>
                                                   <b-table-column field="part_severity_decision" label="Part Severity"  v-slot="props">
                                                      {{formatData(props.row.part_severity_decision) }}
                                                   </b-table-column>

                                                   <b-table-column field="total_scratch_count" label="S"  v-slot="props">
                                                      {{ props.row.total_scratch_count }}
                                                   </b-table-column>
                                                   <b-table-column field="total_dent_count" label="D"  v-slot="props">
                                                      {{ props.row.total_dent_count }}
                                                   </b-table-column>
                                                   <b-table-column field="total_tear_count" label="T"  v-slot="props">
                                                      {{ props.row.total_tear_count }}
                                                   </b-table-column>
                                                </b-table >
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </article>
                              </template>
                           </b-table>

                           <div class="has-text-right">
                           <a class="button is-primary mt-5 is-small " href="data.json" download>   <b-icon icon="download" size="is-small" size="is-large">
                           </b-icon><span class="ml-1">Image Level Data </span> </a>
                           <a class="button is-primary mt-5 is-small " href="part-level-output.json" download>   <b-icon icon="download" size="is-small" size="is-large">
                           </b-icon><span class="ml-1">Parts Level Data </span> </a>
                        </div></div>
                     </div>
                  </div>

                  <!-- <b-modal v-model="isModalActive">
            <div class="column is-12">
                           <b-table class="mt-5"
                              :data="part_detail"
                              ref="table"
                              paginated
                              per-page="5"
                              :opened-detailed="defaultOpenedDetails"
                              detailed
                              detail-key="id"
                              :detail-transition="transitionName"
                              @details-open="(row) => $buefy.toast.open(`Expanded ${row.user.first_name}`)"
                              :show-detail-icon="showDetailIcon"
                              aria-next-label="Next page"
                              aria-previous-label="Previous page"
                              aria-page-label="Page"
                              aria-current-label="Current page">
                              <b-table-column field="part_name" label="Name" width="40"  v-slot="props">
                                 {{ formatData(props.row.part_name) }}
                              </b-table-column>
                              <b-table-column field="'scratch_count'" label="Part Area"  v-slot="props">
                                 {{ props.row.part_area }}
                              </b-table-column>
                              <b-table-column field="'scratch_count'" label="Scratch Count"  v-slot="props">
                                 {{ props.row.scratch_count }}
                              </b-table-column>
                           </b-table>
                        </div>

                        <div class="column is-12">
                           <b-table class="mt-5"
                              :data="dnd_detail"
                              ref="table"
                              paginated
                              per-page="5"
                              :opened-detailed="defaultOpenedDetails"
                              detailed
                              detail-key="id"
                              :detail-transition="transitionName"
                              @details-open="(row) => $buefy.toast.open(`Expanded ${row.user.first_name}`)"
                              :show-detail-icon="showDetailIcon"
                              aria-next-label="Next page"
                              aria-previous-label="Previous page"
                              aria-page-label="Page"
                              aria-current-label="Current page">
                              <b-table-column field="part_name" label="Id" width="40"  v-slot="props">
                                 {{ formatData(props.row.part_name) }}
                              </b-table-column>
                              <b-table-column field="'scratch_count'" label="Position"  v-slot="props">
                                 {{ props.row.decision }}
                              </b-table-column>
                           </b-table>
                        </div>

                        <div class="column is-12">
                           <b-table class="mt-5"
                              :data="rrcnn_detail"
                              ref="table"
                              paginated
                              per-page="5"
                              :opened-detailed="defaultOpenedDetails"
                              detailed
                              detail-key="id"
                              :detail-transition="transitionName"
                              @details-open="(row) => $buefy.toast.open(`Expanded ${row.user.first_name}`)"
                              :show-detail-icon="showDetailIcon"
                              aria-next-label="Next page"
                              aria-previous-label="Previous page"
                              aria-page-label="Page"
                              aria-current-label="Current page">
                              <b-table-column field="part_name" label="Id" width="40"  v-slot="props">
                                 {{ formatData(props.row.part_name) }}
                              </b-table-column>
                              <b-table-column field="'scratch_count'" label="Position"  v-slot="props">
                                 {{ props.row.decision }}
                              </b-table-column>
                           </b-table>
                        </div>

                        <div class="column is-12">
                           <b-table class="mt-5"
                              :data="part_lvl_sev_detail"
                              ref="table"
                              paginated
                              per-page="5"
                              :opened-detailed="defaultOpenedDetails"
                              detailed
                              detail-key="id"
                              :detail-transition="transitionName"
                              @details-open="(row) => $buefy.toast.open(`Expanded ${row.user.first_name}`)"
                              :show-detail-icon="showDetailIcon"
                              aria-next-label="Next page"
                              aria-previous-label="Previous page"
                              aria-page-label="Page"
                              aria-current-label="Current page">
                              <b-table-column field="part_name" label="Id" width="40"  v-slot="props">
                                 {{ formatData(props.row.part_name) }}
                              </b-table-column>
                              <b-table-column field="'scratch_count'" label="Position"  v-slot="props">
                                 {{ props.row.decision }}
                              </b-table-column>
                           </b-table>
                        </div>
        </b-modal> -->

                  
               </div>
                
         </template>
      </div>
      </section>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://unpkg.com/vue@2"></script>
      <!-- Full bundle -->  

      <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>



      <script src="js/jquery.magnify.js"></script>

 


      <script>
         console.log('hello world')
         var Imagedata = 'data.json';
         var PartLevelData = 'part-level-output.json';
         var APP = new Vue({
           el: '#app',
                components: {
            
             },
           data: {
               isModalActive: false,
               dataimage: [],
               part_detail: [],
               dnd_detail: [],
               rrcnn_detail: [],
               part_lvl_sev_detail: [],
               PartLevelData1: {}
            },
         
           mounted() {
             var self = this
             $.getJSON(Imagedata, function (data) {
               self.dataimage = data.imageleveldata;
             
             });
             $.getJSON(PartLevelData, function (data) {
               self.PartLevelData1 = data;
             
             });
           },
            methods: { 
              clickMe(id){
                const dt = this.PartLevelData1.partleveldart[0].data['part-level-output'];

                const filterData = dt.find(x=>x.img_id === id);
                this.part_detail = filterData.part_detail || [];
                this.dnd_detail = filterData.dnd_detail || [];
                this.rrcnn_detail = filterData.rrcnn_detail || [];
                this.part_lvl_sev_detail = filterData.part_lvl_sev_detail || [];
                this.isModalActive = true;
                
              },
              formatData(value) {
              const init = value.replace(/_/g, ' ');
              const dt =  init.replace(/(^|\s)\S/g, (t) => t.toUpperCase());
              return dt;
              },
              getDetails(id){

                const dt = this.PartLevelData1.partleveldart[0].data['part-level-output'];
                const filterData = dt.find(x=>x.img_id === id);
                const part_detail = filterData.part_detail || [];
                const dnd_detail = filterData.dnd_detail || [];
                const rrcnn_detail = filterData.rrcnn_detail || [];
                const part_lvl_sev_detail = filterData.part_lvl_sev_detail || [];
                const finalDt = [];
                if(part_detail && part_detail.length > 0) {
                   part_detail.forEach(element => {
                      const obj = {
                         part_name: element.part_name,
                         damage_score: element.damage_score,
                         part_severity_decision: element.part_severity,
                         total_scratch_count: element.scratch_count,
                         total_dent_count: element.dent_count,
                         total_tear_count: element.tear_count,
                      };
                      const dndWithPart = dnd_detail.find(x=>x.part_name === element.part_name);
                      if(dndWithPart) {
                         obj.dnd_cnn_decision = dndWithPart.decision;
                      } else {
                         obj.dnd_cnn_decision = null;
                      }

                      const rrCnnWithPart = rrcnn_detail.find(x=>x.part_name === element.part_name);
                      if(rrCnnWithPart) {
                         obj.rr_cnn_decison = rrCnnWithPart.decision;
                      } else {
                         obj.rr_cnn_decison = null;
                      }

                      const sevDetailsWithPart = part_lvl_sev_detail.find(x=>x.part_name === element.part_name);
                      if(sevDetailsWithPart) {
                         obj.part_severity_decision = sevDetailsWithPart.decision;
                      } else {
                         obj.part_severity_decision = null;
                      }

                      finalDt.push(obj);
                      console.log('part_detail => ', element.part_name);
                   });
                }
                return finalDt;
              }
            }
         })
         
      </script>


<script>
   window.prettyPrint && prettyPrint();

   var defaultOpts = {
     draggable: true,
     resizable: true,
     movable: true,
     keyboard: true,
     title: true,
     modalWidth: 320,
     modalHeight: 320,
     fixedContent: true,
     fixedModalSize: false,
     initMaximized: false,
     gapThreshold: 0.02,
     ratioThreshold: 0.1,
     minRatio: 0.05,
     maxRatio: 16,
     headToolbar: ['maximize', 'close'],
     footToolbar: ['zoomIn', 'zoomOut', 'prev', 'fullscreen', 'next', 'actualSize', 'rotateRight'],
     multiInstances: true,
     initEvent: 'click',
     initAnimation: true,
     fixedModalPos: false,
     zIndex: 1090,
     dragHandle: '.magnify-modal',
     progressiveLoading: true
   };

   var vm = new Vue({
     el: '#playground',
     data: {
       options: defaultOpts
     },
     methods: {
       changeTheme: function (e) {
         if (e.target.value === '0') {
           $('.magnify-theme').remove();
         } else if (e.target.value === '1') {
           $('.magnify-theme').remove();
           $('head').append('<link class="magnify-theme" href="css/magnify-bezelless-theme.css" rel="stylesheet">');
         } else if (e.target.value === '2') {
           $('.magnify-theme').remove();
           $('head').append('<link class="magnify-theme" href="css/magnify-white-theme.css" rel="stylesheet">');
         }
       }
     },
     updated: function () {
       $('[data-magnify]').magnify(this.options);
     }
   });

 </script>
   </body>
</html>