<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
  <style>
    .overlay{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(255,255,255,0.8) url("loader.gif") center no-repeat;
    }
    /* Turn off scrollbar when body element has the loading class */
    body.loading{
        overflow: hidden;   
    }
    /* Make spinner image visible when body element has the loading class */
    body.loading .overlay{
        display: block;
    }
    </style>



</head>

<body>

 
  <script>
    // Initiate an Ajax request on button click
     
    // Add remove loading class on body element based on Ajax request status
    $(document).on({
        ajaxStart: function(){
            $("body").addClass("loading"); 
        },
        ajaxStop: function(){ 
            $("body").removeClass("loading"); 
        }    
    });
    </script>


  <script>
    var status = 0
    async function myFunction(){
    var myParam = location.search.split('uid=')[1]
    myParam = myParam.split("&")[0]
    status = location.search.split('status=')[1]
    console.log(myParam)
    var data = {"uid" : myParam}
    console.log(status)
    
    var a 
    $.when(ajaxcall()).done(function(resp1) {
    
        // the code here will be executed when all four ajax requests resolve.
        status = resp1.data.status;
        console.log("----------------"+resp1.data.status)
        console.log("----------------"+status)
        
        if (status == 0 || status == 1 ){
        
        var myParam = location.search.split('uid=')[1]
        myParam = myParam.split("&")[0]
        setTimeout(function() {
          window.location.reload(true)
  //your code to be executed after 1 second
          }, 10000);
        
      }

        // window.location.replace("Slider-view.html?uid="+resp1.data.Keys[1])
            });
        function ajaxcall() {
          return $.ajax({
                url: 'http://localhost:5003/sedna-sedan/getclaim',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                timeout: 30000,
                success: function(response){
    
                a = response;
                },
                processData: false,
                contentType: "application/json; charset=UTF-8"
            });
            
          }
    console.log("myParam")
        }


        window.onload = myFunction();
    </script>

  <div id="app">
    
    <template>
      <b-navbar class="nav-bar">
        <template #brand>
          <b-navbar-item tag="router-link" :to="{ path: '/' }" class=" has-text-white">
            Pipeline Debugger 2.0
          </b-navbar-item>
        </template>


        <template #end>
          <b-navbar-item tag="div">
            <div class="buttons ">

              <a class="button is-light is-small" href="Login.html">
                <b-icon icon="logout" size="is-small" size="is-large">
                </b-icon>
              </a>
            </div>
          </b-navbar-item>
        </template>
      </b-navbar>
    </template>
    <template>
      <section class="custom-bg pt-5">
        <div class="container  ">
          <div class="slider-section  has-background-white">
            <div class="columns is-multiline">
              <div class="column is-3">
                <div class="slider">
                  <div class="heading">
                    <p> Claim Level</p>
                  </div>

                  
  

<div class="columns is-multiline">
  <div class="column is-6" v-for="cdata in imgdata">
    
    <div class="slider-box  ">
      <img :src="cdata.url">
    <p class="text"> Position :{{formatData(cdata.position)}} </p>
  </div></div>
  
</div>
                  
                 
                  

                </div>

<div class="has-text-centered">
                <a class="button is-primary mt-5 is-small " href="sedna_claim_level.json" download>   <b-icon icon="download" size="is-small" size="is-large">
                </b-icon><span class="ml-1">Download All Data </span> </a>



                <a class="button is-primary mt-5 is-small " href="details.html"  >   <b-icon icon="image" size="is-small" size="is-large">
                </b-icon><span class="ml-1">Go to Images Level Data</span> </a>
              </div></div>
              <div class="column is-9">
              <b-table
              :data="claimdata"
              ref="table"
              paginated
              per-page="10"
              :opened-detailed="defaultOpenedDetails"
              detailed
              detail-key="part_name"
              :detail-transition="transitionName"
              @details-open="(row) => $buefy.toast.open(`Expanded ${row.user.first_name}`)"
              :show-detail-icon="showDetailIcon"
              aria-next-label="Next page"
              aria-previous-label="Previous page"
              aria-page-label="Page"
              aria-current-label="Current page" class="mt-5">
  
              <b-table-column field="part_name" label="Part Name"    v-slot="props">
                  {{ formatData(props.row.part_name) }}
              </b-table-column>
  
              <b-table-column field="dnd_cnn_confidence" label="DND"   v-slot="props">
                {{ props.row.dnd_cnn_confidence }}
               </b-table-column>
  
              <b-table-column field="RR" label="RR" sortable v-slot="props">
                  {{ props.row.rr_cnn_confidence }}
              </b-table-column>
              <b-table-column field="total_scratch_count" label="S" sortable v-slot="props">
                {{ props.row.total_scratch_count }}
            </b-table-column>
            <b-table-column field="total_tear_count" label="T" sortable v-slot="props">
              {{ props.row.total_tear_count }}
          </b-table-column>
          <b-table-column field="total_dent_count" label="D" sortable v-slot="props">
            {{ props.row.total_dent_count }}
        </b-table-column>
        <b-table-column field="tloss_ind_confidence" label="Total Loss" sortable v-slot="props">
          {{ props.row.tloss_ind_confidence }}
      </b-table-column>
      <b-table-column field="damage_score" label="Damage Score" sortable v-slot="props">
        {{ props.row.damage_score }}
    </b-table-column>
    <b-table-column field="sedna_decisions" label="Sedna Decisions" sortable v-slot="props">
      {{ formatData(props.row.sedna_decisions )}}
  </b-table-column>     
    
              <template #detail="props">
                  <article class="media">
                       
                      <div class="media-content">
                          <div class="content">
                            <div class="columns is-multiline">
                              <div class="column is-6">
                       <table class="table"  >
 
                      <tbody>
                        <tr>   <th>DND CNN Max</th> <td>  <span>{{ props.row.dnd_cnn_confidence }}  </span></td>  </tr>
                          <tr>  <th>DND CNN Min</th>   <td> <span>{{ props.row.dnd_cnn_confidence_min }}  </span></td></tr>
                        <tr> <th>Part Area</th>  <td> <span>{{ props.row.part_area }}  </span></td></tr>
                        <tr>    <th>RR CNN Max</th>  <td> <span>{{ props.row.rr_cnn_confidence }}  </span></td></tr>
                        <tr>    <th>RR CNN Median</th>  <td>   <span>{{ props.row.rr_cnn_confidence_median }}  </span></td> </tr>
                        <tr>     <th>RR CNN Min</th>  <td> <span>{{ props.row.rr_cnn_confidence_min }}  </span></td></tr>
                        <tr>     <th>Scratch Area</th>  <td> <span>{{ props.row.total_scratch_area }}  </span></td></tr>
                        <tr>     <th>Tear Area</th>   <td> <span>{{ props.row.total_tear_area }}  </span></td></tr>
                        <tr>     <th>Dent Area</th>  <td>  <span>{{ props.row.total_dent_area }}  </span></td></tr>
                        </tr>
                      </tbody>     
                       </table>
                      
                      </div>  <div class="column is-6">
                        <table class="table"  >
  
                       <tbody>
                         <tr>   <th>Bumper Misalignment</th> <td>  <span>{{ props.row.bumper_misalignment_prediction }}  </span></td>  </tr>
                           <tr>  <th>Bumper Misalignment confidence</th>   <td> <span>{{ props.row.bumper_mis_conf }}  </span></td></tr>
                         <tr> <th>Total SDT Count</th>  <td> <span>{{ props.row.total_sdt_count }}  </span></td></tr>
                         <tr>    <th>Total SDT Area</th>  <td> <span>{{ props.row.total_sdt_area }}  </span></td></tr>
                         
                         <tr>     <th>Scratch Ratio</th>  <td> <span>{{ props.row.scratch_ratio }}  </span></td></tr>
                         <tr>     <th>Tear Ratio</th>   <td> <span>{{ props.row.tear_ratio }}  </span></td></tr>
                         <tr>     <th>Dent Ratio</th>  <td>  <span>{{ props.row.dent_ratio }}  </span></td></tr>
                         </tr>
                       </tbody>     
                        </table>
                       
                       </div>  </div>    
                               
                          </div>
                      </div>
                  </article>
              </template>
          </b-table>
      
        </div>
  

       
            </div>
          </div>
        </div>
    </template>
  </div>
  </section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://unpkg.com/vue@2"></script>
  <!-- Full bundle -->
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>



  <script>
    var imagel = 'data.json';
    var dataURL = 'sedna_claim_level.json';
    var APP = new Vue({
      el: '#app',
 
      data: {
        claimdata: [],
        imgdata: []
      },
      mounted() {
        var self = this
        $.getJSON(imagel, function (data) {
          
          self.imgdata = data.imageleveldata;
        });
        $.getJSON(dataURL, function (data) {
          self.claimdata = data.claimleveldata;
        });
      },
     methods: { formatData(value) {
              const init = value.replace(/_/g, ' ');
              const dt =  init.replace(/(^|\s)\S/g, (t) => t.toUpperCase());
              return dt;
              }}
    });
  
  </script>


</body>

</html>