 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
      .overlay{
          display: none;
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 999;
          background: rgba(255,255,255,0.8) url("loader.gif") center no-repeat;
      }
      /* Turn off scrollbar when body element has the loading class */
      body.loading{
          overflow: hidden;   
      }
      /* Make spinner image visible when body element has the loading class */
      body.loading .overlay{
          display: block;
      }
      </style>

<script>
  // Initiate an Ajax request on button click
  $(document).on("click", "button", function(){
      $.get("customers.php", function(data){
          $("body").html(data);
      });       
  });
   
  // Add remove loading class on body element based on Ajax request status
  $(document).on({
      ajaxStart: function(){
          $("body").addClass("loading"); 
      },
      ajaxStop: function(){ 
          $("body").removeClass("loading"); 
      }    
  });
  </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
</head>

<body>
  
  <div id="app" >
    <template>
      <b-navbar class="nav-bar">
          <template #brand>
              <b-navbar-item tag="router-link" :to="{ path: '/' }" class=" has-text-white">
                Pipeline Debugger 2.0
              </b-navbar-item>
          </template>
        
  
          <template #end>
              <b-navbar-item tag="div">
                  <div class="buttons ">
                     
                     
                    <a class="button is-light is-small" href="Login.html" >
                      <b-icon
                          icon="logout" size="is-small"
                          size="is-large">
                      </b-icon>
                    </a>
                  </div>
              </b-navbar-item>
          </template>
      </b-navbar>
  </template>
    <div class="container  ">
      <div class="overlay"></div>
    <div class="columns mt-4">
      <div class="column is-4 m-auto"> 
      <b-field>
        <b-upload v-model="dropFiles"
            multiple 
            drag-drop>
            <section class="section">
                <div class="content has-text-centered">
                    <p>
                        <b-icon
                            icon="upload"
                            size="is-large">
                        </b-icon>
                    </p>
                    <p > Click to upload</p>

                    <input type="file" accept="image/*" multiple="multiple" @change="previewMultiImage" id="my-file">
                    

                </div>
              </div>
            </section>
        </b-upload>
    </b-field>
    </div>

    <div class="column is-multiline">
      <div class="column is-11 m-auto">
       
        <form>
          <div class="columns is-multiline">

 <p class="p-small  has-text-centered"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est suscipit veritatis quam natus commodi cum ipsam eum cumque, sequi quae quia, facilis expedita quis hic rerum temporibus tenetur. Reiciendis, velit.</p>
  <template v-if="preview_list.length">
    <div v-for="item, index in preview_list" :key="index" class="column is-2">
       
      <img :src="item" class="img-fluid"  />
        </div>
       
  </template>
 
</div>

<div id="submit-btn" onclick="myFunction();">
  <a class="button has-background-primary has-text-white is-pulled-right"> Submit claim </a>
  <!-- <script type="text/javascript" src="C9NSC3LU.json"></script> -->
  <script>

async function getBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = error => reject(error);
  });
}

async function myFunction(){
    // alert("hello")
    var x = document.getElementById("my-file");
    // alert(x.value)
    // var _Profile_PIC = document.getElementById('my-file').value
    var txt = "";
    var images = []
    // console.log("------------",x.value)
    if ('files' in x) {
        if (x.files.length == 0) {
            txt = "Select one or more files.";
        } else {
            for (var i = 0; i < x.files.length; i++) {
                txt += (i+1) + ". file";
                var file = x.files[i];
                // alert("-------------"+file)
                // console.log(await getBase64(file))
                
                if ('name' in file) {
                  // var reader = new FileReader();

                  // alert("file image")
                  const reader = new FileReader();
                  reader.readAsDataURL(file);
                  console.log("---------------",reader)
                    txt += "name: " + file.value + "";
                    images[i] = JSON.stringify({'base64' : await getBase64(file), 'name' : file.name});
                    // alert(Object.keys(x))
                }
                if ('size' in file) {
                    txt += "size: " + file.value + " bytes ";
                }
            }
        }
    } 
    else {
        if (x.value == "") {
            txt += "Select one or more files.";
        } else {
            txt += "The files property is not supported by your browser!";
            txt  += "The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
        }
    }
    // alert(images)
    // var data
    var data = {"imgs_list" : images,
    "upload_api" : "https://api.dev.claimgenius.com/files/upload",
    "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6OCwiY2xpZW50X2lkIjoxLCJzY29wZSI6Imphc21pbmUvYXBwcmFpc2VyL2xlYWQiLCJyZWdpb24iOiJVUyIsImlhdCI6MTY0MzM0OTE5N30.t6X-CoFTeYX4DuhZ85WhQNm3BIfFHtif3Ys-IRIlpxw"
      }
      // alert(data)
      var a = "test"
      $.when(ajaxcall()).done(function(resp1) {
    // the code here will be executed when all four ajax requests resolve.
    console.log(resp1.data.Keys[1])
      window.location.replace("check_claim.html?uid="+resp1.data.Keys[1]+"&status=0")
        });
    function ajaxcall() {
      return $.ajax({
            url: 'http://localhost:5003/sedna-sedan/imageUpload',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            timeout: 30000,
            success: function(response){

            a = response;
            },
            processData: false,
            contentType: "application/json; charset=UTF-8"
        });
        
      }
      console.log("console")
      // console.log(a)
      // alert(a)

      //       var data = {};
      //       $.ajax({
      //           url: "C9NSC3LU.json",
      //           async: false,
      //           dataType: 'json',
      //           success: function(responseText) {
      //               data = responseText;
      //           }
      //       });
      // //usage:
      // console.log("printing data")
      // // console.log(k)
      // console.log(data)
      // console.log("data printed")
      
      // // var a = fetch('http://localhost:5003/sedna-sedan/getImageInput', {method: "POST", data: data});
      // var a = $.ajax({
      //       url: 'http://localhost:5003/sedna-sedan/getImageInput',
      //       type: 'POST',
      //       dataType: 'json',
      //       contentType: 'application/json',
      //       data: JSON.stringify(data),
      //       processData: false,
      //       contentType: "application/json; charset=UTF-8"
      //   });
      // console.log(a)
      // alert(a)

    }

</script>
</div>    

           
            
          </div>
        </form>
      </div>
    </div>
    
      
  </div>
      
       <!-- <button @click="reset">Clear All</button> -->
     
    </div>
  </div>

    <script src="https://unpkg.com/vue@2"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>



    <script>
      new Vue({
  el: "#app",
  data: function() {
    return {
      preview: null,
      image: null,
      dropFiles: [],
      preview_list: [],
      image_list: []
    };
  },
  methods: {
    previewImage: function(event) {
      var input = event.target;
      if (input.files) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.preview = e.target.result;
        }
        this.image=input.files[0];
        reader.readAsDataURL(input.files[0]);
       
      }
    },
    
    previewMultiImage: function(event) {
      var input = event.target;
      var count = input.files.length;
      var index = 0;
      if (input.files) {
        while(count --) {
          var reader = new FileReader();
          reader.onload = (e) => {
            this.preview_list.push(e.target.result);
          }
          this.image_list.push(input.files[index]);
          reader.readAsDataURL(input.files[index]);
          index ++;
          document.getElementById("submit-btn").style.display = "block";
         
        }
      }
    },

    newpage: function(e){
      window.location = 'Login.html'
    },
    reset: function() {
      this.image = null;
      this.preview = null;
      this.image_list = [];
      this.preview_list = [];
    }
  }
});

    </script>
</body>
</html>