/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.nav-bar{
    background: rgb(34,193,195);
    background: -moz-linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(156,44,250,1) 100%);
    background: -webkit-linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(156,44,250,1) 100%);
    background: linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(156,44,250,1) 100%);
}
.login-screen{ height: 100vh;
    background: rgb(34,193,195);
background: -moz-linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(156,44,250,1) 100%);
background: -webkit-linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(156,44,250,1) 100%);
background: linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(156,44,250,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#9c2cfa",GradientType=1);
}

.Pro-title{
 
    padding-top: 20%; color: #fff;
 
}
.Pro-title h1{ font-size: 60px;
    font-weight: 600;
}
.Pro-title p{
    font-size: 20px;
}
 
.login-btn{
    border-radius: 50px; width: 100px;
}
.upload, .upload-draggable{
   width: 100%;
}
.img-fluid{
    width: 100%; height: 150px; padding: 2px; box-shadow: 0px 0px 4px #ccc; border-radius: 5px;
}
.p-small{
    font-size: 12px;
}
#submit-btn{
    display: none;
}

.slider-section{
    box-shadow: 0px 0px 3px #ccc; padding: 20px; padding-top: 20px; border-radius: 10px;
}
.custom-bg{
    background: #f5f5f5; height: 100vh;
}
.heading p{
    font-size: 17px;
    color: #28b9c6;
    font-weight: 600;
    border-left: 4px solid;
    padding-left: 14px;
    margin-bottom: 22px;
}
.slider-box{
    border: 2px solid rgb(233, 231, 231);
    padding: 3px;
    margin-bottom: 1px;
    overflow: auto;
    border-radius: 5px;
}
 

.table.is-small{
    font-size: 13px;
}
 
.bg-light{
    color: #ccc;
}.b-table .table th .th-wrap {
    display: flex;
    align-items: center;
    font-size: 13px;
    white-space: nowrap;
}
.modal .modal-content {
    width: 83%;
}

table{
    white-space: nowrap;
}


.table td, .table th{
    font-size: 14px;
}
.b-table .table th {
    font-weight: 600;
    font-size: 13px;
}
.text{font-size: 12px;}